

.component {
  // background-color: blue;
  width: 40%;
  margin: auto;
  padding-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}


.estimate {
  width: 40%;
  display: flex;
  justify-content: center;
}